<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
</head>
<navbar>
    <ul>
        <li>Home</li>
        <li>Owner</li>
    </ul>
</navbar>
<body>
    <div  style="display: flex; justify-content: center; flex-direction: column; text-align: center; align-content: center; background-color: black;">
    <h1>Narathip</h1>
    <img src='https://scontent.fbkk30-1.fna.fbcdn.net/v/t1.6435-9/79732217_2590491214391100_5647285260073828352_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=174925&_nc_ohc=Z5faZGWqiZEAX9zkvLr&_nc_ht=scontent.fbkk30-1.fna&oh=00_AfCvB2EE9jXiiuF5c-oqc5RTCobw2yDXgOpIKUdQ2GT1aQ&oe=652964C1' 
    style="height: 25%; width: 25%; align-self: center;"/>

    <p>Heelo halolo</p>
    </div>
</body>
</html>